.subscribe-button {
    background-color: rgb(199, 0, 0);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 20px;
    transition: opacity 0.15s;
    vertical-align: top;
}

.subscribe-button:hover{
    opacity: 0.8;
}

.subscribe-button:active{
    opacity: 0.5;
}

.join-button{
    background-color: white;
    border-color:rgb(29, 161, 242);
    border-style: solid;
    color: rgb(29, 161, 242);
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4.2px;
    border-width: 1.6px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.275s, 
        color 0.275s;
}

.join-button:hover{
    background-color: rgb(29, 161, 242) ;
    color: white;
}

.join-button:active{
    opacity: 0.7;
}


.tweet-button{
    background-color:rgb(29, 161, 242);
    color: white;
    border-radius: 18px;
    border:none ;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 15px ;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.15s;
    vertical-align:top;
}

.tweet-button:hover{
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.15) ;
}

.tweet-button:active{
    opacity: 0.7;
}